<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Curso Angular</a>


  <button [hidden]="!loggedIn" (click)="onLogout($event)" class="navbar-toggler-right btn btn-outline-default my-sm-0">Logout</button>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav [hidden]="!loggedIn" class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/condicionales" routerLinkActive="active">Condicionales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listado" routerLinkActive="active">Listado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/misclientes" routerLinkActive="active">Mis Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventos" routerLinkActive="active">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resultados" routerLinkActive="active">Resultados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formularios" routerLinkActive="active">Formularios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/firebase" routerLinkActive="active">Firebase</a>
        </li>
      </ul>
    </nav>

    <main [ngClass]="{'col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3': loggedIn, 'col-sm-12': !loggedIn}">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
