<div class="card mx-auto" style="width: 400px;margin-top:20px;">
  <div class="card-block">
    <h4 class="card-title">Firebase</h4>
    <app-firebase></app-firebase>
  </div>
</div>

<div class="card mx-auto" style="width: 400px;margin-top:20px;">
  <div class="card-block">
    <h4 class="card-title">Resultados</h4>
    <app-resultados></app-resultados>
  </div>
</div>

<div class="card mx-auto" style="width: 400px;margin-top:20px;">
  <div class="card-block">
    <h4 class="card-title">Listado</h4>
    <app-listado></app-listado>
  </div>
</div>

<div class="card mx-auto" style="width: 400px;margin-top:20px;">
  <div class="card-block">
    <h4 class="card-title">Clientes</h4>
    <app-misclientes></app-misclientes>
  </div>
</div>

<div class="card mx-auto" style="width: 400px;margin-top:20px;margin-bottom:20px">
  <div class="card-block">
    <h4 class="card-title">Condicionales</h4>
    <app-condicionales></app-condicionales>
  </div>
</div>
