<div>
  <ul class="list-group">
    <li class="list-group-item active">Database</li>
    <li class="list-group-item justify-content-between" *ngFor="let item of items | async">
      <app-inline-edit (change)="onEdit(item)" [(ngModel)]="item.value" [required]="true" type="text"></app-inline-edit>
      <button type="button" (click)="onDelete(item)" class="btn btn-danger float-rigth">Delete</button>
    </li>
    <li class="list-group-item" *ngIf="items.length == 0">
      Loading...
    </li>
  </ul>

  <form (submit)="onCreate()" style="margin-top:20px">
    <div class="form-group">
      <label>Add element</label>
      <input type="text" class="form-control" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" placeholder="Value..." />
    </div>
  </form>
</div>
<div>
